Package: com.shepgoba.mobileheaders
Name: MobileHeaders
Version: 1.0~beta1
Architecture: iphoneos-arm
Description: An easy way to navigate header files on your iDevice.
Maintainer: shepgoba
Author: shepgoba
Section: Utilities
